@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Teko', sans-serif;
  margin: 0;
  overflow-x: hidden;  
}

h1, h2{
  margin: 0;
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}


/* Menu */
header h1{
  font-size: 5rem;
  user-select:  none;
}

#logo{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#logoImg{
  margin-right: 10px;
  pointer-events: none;
  user-select: none;
}
.menu{
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0 1px 3px rgb(0,0,0, 0.3);
  height: 100px;
}

.menu a#logo{
    margin-right: 0px;
}
.menu a{
  padding: 38px;
  text-decoration: none;
  color: white;
  transition: border-bottom .5s;
  font-size: 25px;
}
.menu .active{
  border-bottom: 8px solid #D5A843;
  color: #D5A843;
}
.menu a#pags:hover{
  border-bottom: 8px solid #D5A843;
  color: #D5A843;
}

.menu a#logo:hover{
    background-color: #000000;
}


/* Cards */
.card{
  padding: 20px;
  margin: 20px 40px 20px 70px;
  border-radius: 5px; 
}

.card1 {
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 25px;
}

.card p{
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Calibri light', sans-serif;
  width: 110%;
}
h3#icone{
  color: #083C57;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  
}

.grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.final{
  background-color: #1C2427; 
  padding: 10px;
}




/* Rodape */
.rodape{
  height: 200px; 
  background-color: #242E32; 
  color: white;   
  text-align: center; 
  padding-bottom: 10px; 
  letter-spacing: 0.7px; 
  text-shadow: 2px 2px 4px #000000;
  margin-top: 250px;
}
.lista_rodape{
  list-style-type: none; 
  padding: 0px;
}
.lista_rodape img{
  width: 1%; margin-right: 3px;
}



/* Ajustes */
@media screen and (max-width: 675px){
  .menu, .menu a{
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .menu a{
    padding: 14px;
  }
  
  .menu a#logo{
    margin-right: 0px;
  }
  .lista_rodape img{
    width: 2%;
  }
  .menu{
    height: 347px;
  }
}


@media screen and (max-width: 955px){
  .card1 p{
    font-size: 20px;
  }
  .card{
    margin-left: 0px;
  }
  .lista_rodape img{
    width: 2%;
  }
}


@media screen and (max-width: 800px){
   .card1 p{
    font-size: 17px;
  }
  .lista_rodape img{
    width: 2%;
  }
}


@media screen and (max-width: 695px){
   .card1 p{
    font-size: 17px;
  }
  .lista_rodape img{
    width: 2%;
  }
}

@media screen and (max-width: 675px){
   .card1 p{
    font-size: 17px;
  }
  .lista_rodape img{
    width: 2%;
  }
  
  .card{
        margin-left: 20px;
        width: 90%;
  }
  .lista_rodape img{
    width: 2%;
  }
  

}

