@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Teko', sans-serif;
  margin: 0;
  overflow-x: hidden;  
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
}


/* Menu */
header h1{
  font-size: 5rem;
  user-select:  none;
}

#logo{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#logoImg{
  margin-right: 10px;
  pointer-events: none;
  user-select: none;
}
.menu{
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0 1px 3px rgb(0,0,0, 0.3);
  height: 100px;
}

.menu a#logo{
    margin-right: 0px;
}
.menu a{
  padding: 38px;
  text-decoration: none;
  color: white;
  transition: border-bottom .5s;
  font-size: 25px;
}
.menu .active{
  border-bottom: 8px solid #D5A843;
  color: #D5A843;
}
.menu a#pags:hover{
  border-bottom: 8px solid #D5A843;
  color: #D5A843;
}

.menu a#logo:hover{
    background-color: #000000;
}
header{
  margin-bottom: 40px;
}

/* Galeria */
section {
  column-count: 4; 
  column-gap: 16px; 
  margin: 37px;
  margin-top: 40px;
}

section img{
  width:100%; 
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgba(0,0,0,0.25);
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.zoom{
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Rodape */
.rodape{
  height: 200px; 
  background-color: #242E32; 
  color: white;   
  text-align: center; 
  padding-bottom: 10px; 
  letter-spacing: 0.7px; 
  text-shadow: 2px 2px 4px #000000;
}
.lista_rodape{
  list-style-type: none; 
  padding: 0px;
}
.lista_rodape img{
  width: 1%; margin-right: 3px;
}

.final{
  background-color: #1C2427; 
  padding: 10px;
}








/* Ajustes */
@media screen and (max-width: 675px){
  .menu, .menu a{
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu{
    height: 347px;
  }
  .menu a{
    padding: 14px;
  }
  
  .menu a#logo{
    margin-right: 0px;
  }
  .lista_rodape img{
    width: 2%;
  }
}


